@use '../../sass/varibales' as *;

.card{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 330px;
  height: 330px;
  border-radius: 8px;
  border: 1px solid #999;

  img{
    border-radius: 8px 8px 0 0;
    width: 329px;
  }
  h3{
    font-size: 14px;
    margin: 10px 0;
  }
  .button-card{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    width: 128px;
    height: 24px;
    background-color: $contrast-color;
    color: #FFF;
    border: none;
    transition: .4s;
    font-size: 14px;
    cursor: pointer;

    &:hover{
      opacity: .6;
    }
  }
}