@use '../../sass/varibales' as *;

.home{
  .home-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    row-gap: 20px;
    padding: 10px;
  }
}

@media (max-width: 1010px){
  .home{
    .home-container{
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media (max-width: 700px){
  .home{
    .home-container{
      grid-template-columns: repeat(1, 1fr);
    }
  }
}